<html>
    <head> Create restaurant </head>
    <title>Restaurant create page </title>
    <body> 
        <p> Create your restaurant by entering the following parameters: </p>
        <form acrion="/create" method="POST" enctype="multipart/form-data">
        1. Restaurant ID : <input type="text" name="id" placeholder="ID"/><br>
        2. Name : <input type="text" name="name" placeholder="Name"/><br>
        3. Borough : <input type="text" name="borough" placeholder="Borough"/><br>
        4. Cuisine : <input type="text" name="cuisine" placeholder="Cuisine"/><br>
        5. Photo : <input type="file" name="image"><br>
        6. Address: <br>
            Street: <input type="text" name="street" placeholder="Street"/><br>
            Building: <input type="text" name="building" placeholder="Building"/><br>
            Zipcode: <input type="text" name="zipcode" placeholder="Zipcode"/><br>
            Coord: <input type="text" name="coord" placeholder="Longitude & Latitude"/><br>
            <input type = "hidden" name = "owner" value="<%=userName%>" ><br>
            <br>
            <input type = "submit" value = "SUBMIT"></input>
        </form>

    </body>
</html>
