<html>
    <head>
        <title>Login Page</title>
<body>
<form action="/login" method="POST">
    Username: <input type="text" name="id" placeholder="Username"/>
    <br>
    Password: <input type="password" name="password" placeholder="Password"/>
    <input type="submit" value="Login">
<br>
<td>
    Register <a href = "/register">here</a> for a new account.
</td>
</form>
</form>
</body>
</html>