<html>
    <head> Restaurant rating page</head>
    <title> Rate the restaurant!</title>
    <% if ( !resGrades ) { %>
    <p>Restaurant ID: <%=doc.id%></p>
    <form action = "/rating?_id=<%=doc._id%>" method = "POST" enctype="multipart/form-data" >
        Score(1-10):
        <input type = "hidden" name = "user" value="<%=userName%>" ><br>
        <input class="w3-input" type = "number" name = "Grades" min = "1" max = "10">
        <input type = "submit" value = "SUBMIT"></input>

</form>

<% } else { %> 
    <p>The restaurant is already rated.</p>
    <a href="/index"> <button>Back</button></a>
    <% } %>
</body>
</html>
</html>