<html>
    <head>
        <title> User Register Page </title>
    <body>    
    <form action="register" method="POST">
        Username: <input type = "text" name="id" placeholder="Username">
    <br>
        Password: <input type = "password" name="password" placeholder="Password">
    <br>
    <input type = "submit" value="Sign Up"> </input>
    </form>
    </head>